{% load static %}
<!doctype html>
<html>

	<head>
		<meta charset = "utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "chefdecuisine/base.css" %}">
		<title>{% block title %} student ID: 15351901, but you shouldn't be seeing this {% endblock %}</title>
	</head>

	<body>

		<div id="heading" class="box">
		      	<H1>Welcome, Chef!</H1>
	       	</div>
	       
		<p></p>
	
		<div id="navigationBar" class="box">
			Code for navigation bar here. Need to add home page, user list, etc.
		</div>

		<p></p>

		<div id="pageContent">
			{% block content %}
			Placeholder for page content
			{% endblock %}
		</div>

	</body>

</html>

