
body {
	background: url("image/68814732-chef-toques-seamless-background-wallpaper-with-vector-pattern-icons-of-restaurant-cook-caps-pencil-s.jpg");
	background-repeat: repeat;
	background-color: paleturquoise;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

h2 {
    font-size: 36px;
    text-align: center;
    background-color: white;
    border: 4px solid black;

}
    
ul {
    font-size: 20px;
    background-color: white;
    border: 4px solid black;

}


li {
    font-size: 25px;

}

    

div.souschef-detail {
	font-size: 20px;
	text-align: center;
	background-color: white;
	border: 4px solid black;
}


div.box {
	font-size: 20px;
	background-color: white;
	border: 4px solid black;
}


a.button {
	position: absolute;
	bottom: 10px;
	border: none;
	background-color: inherit;
	padding: 14px; 28px;
	font-size: 25px;
	cursor: pointer;
	color: black;
}

a.button:hover {
	background-color: black;
	color: white;

}

a.buttonRight {
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: none;
	background-color: inherit;
	padding: 14px; 28px;
	font-size: 25px;
	cursor: pointer;
	color: black;
}

a.buttonRight:hover {
	background-color: black;
	color: white;

}


a.buttonRegular {
	border: none;
	background-color: inherit;
	font-size: 25px;
	cursor: pointer;
	color: black;

}

a.buttonRegular:hover {
	background-color: black;
	color: white;

}

