h2{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}


h3{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
    font-size: 60px;
}


ul{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#souschef-detail{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
}
