{% extends "base.html" %}

{% block title %}Chef {{souschef.first_name }} {% endblock %}

{% block content %}

<h2>Bonjour, Chef!</h2>
<div class = "souschef-detail">
	<div id="souschef-first_name">First name: {{souschef.first_name}}</div>
	<div id="souschef-last_name">Last name: {{souschef.last_name}}</div>
	<div id="souschef-date_of_birth">Date of Birth: {{souschef.date_of_birth}}</div>
</div>

<p>
</p>

<a class='button'  href = "{% url 'souschef_update' souschef_id=souschef.id %}">See something wrong? Click here to update it.</a>


{% endblock %}
