<!doctype html>
<html>
    

	<style>
		body {
			background: url("https://us.123rf.com/450wm/seamartini/seamartini1612/seamartini161200117/68814732-chef-toques-seamless-background-wallpaper-with-vector-pattern-icons-of-restaurant-cook-caps-pencil-s.jpg?ver=6");
			background-repeat: repeat;
			background-color: paleturquoise;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
            
		}
 
	</style>

	<head>
		<meta charset = "utf-8"/>
		<title>Welcome, Chef!</title>
	</head>

	<body>
        <h2 style="font-size: 36px; text-align: center; background-color: white; border: 4px solid black;">Bonjour, Chef!</h3>
            <div id = "souschef-detail" style="font-size: 20px; text-align: center; background-color: white; border: 4px solid black">
                <div id="souschef-first_name">First name: {{souschef.first_name}}</div>
                <div id="souschef-last_name">Last name: {{souschef.last_name}}</div>
                <div id="souschef-date_of_birth">Date of Birth: {{souschef.date_of_birth}}</div>
            </div>
	</body>



</html>
